.wrapper {
  display: flex;
  padding: 10px 0;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 15px;
  }

  .info {
    .username {
      font-weight: bold;
    }

    .bio {
      color: #333;
      .check {
        font-size: 12px;
        margin-left: 10px;
        color: lightskyblue;
      }
    }
  }
}
